/* =================================
 * 	店舗 TOP キャストランキング
 * ------------------------------ */
@use "../variable" as *;
@use "../svg" as *;
@use "../mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
@mixin layout-ul {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: inherit;
}
@mixin layout-li {
    position: relative;
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    font-size: inherit;
    border-top: 1px solid;
    padding-block: 2em;
    gap: 0 2em;
    .wrapThumb {
        position: relative;
        font-size: inherit;
        width: 13em;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .wrapText {
        display: flex;
        flex-direction: column;
        font-size: inherit;
        justify-content: space-between;
        .itemDate {
            font-size: FZ(16);
            align-self: flex-end;
            @include FuturaCyrillicDemi;
        }
        .itemTitle {
            font-size: FZ(20);
            letter-spacing: 0.08em;
            font-weight: 500;
            margin-top: 0.3em;
            margin-bottom: 0.5em;
        }
        .itemBOdy {
            flex: 1;
            b {
                line-height: 1.6em;
                font-weight: 500;
            }
            strong {
                font-weight: 500;
                line-height: 1.6em;
            }
        }
    }
    &:last-of-type {
        border-bottom: 1px solid;
    }
}

/* =================================
 * NEWSページ
 * ------------------------------ */
.containerNews {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    padding-top: 2em;
    box-shadow: 0.5rem -3rem 3rem rgb(1 1 1 / 10%);
    .pageListNews {
        @include layout-ul;
        padding-inline: 3em;
        margin-top: 3em;
        .itemNews {
            @include layout-li;
        }
    }
}

/* =================================
 * TOP NEWSコンポーネント
 * ------------------------------ */
.boxTopNews {
    position: relative;
    font-size: inherit;
    padding: 9em 3em 1.6em;
    width: 100%;
    .titleObject {
        @include object-title;
    }
    .listNews {
        @include layout-ul;
        li {
            @include layout-li;
            .wrapText {
                .linkMore {
                    display: inline-block;
                    font-size: FZ(14);
                    align-self: flex-end;
                    font-weight: 500;
                    color: blue;
                    margin-top: 1em;
                }
            }
        }
    }
    &.kbHot {
        background-color: rgb(248 248 248 / 90%);
        background-blend-mode: soft-light;
        .wrapTitle {
            @include contents-title(#000000);
        }
        .titleObject {
            &::before {
                filter: brightness(105%) hue-rotate(206deg) saturate(142%)
                    drop-shadow(0.5rem 0.5rem 0.5rem rgb(1 1 1 / 30%));
            }
        }
        .rankingContents {
            nav {
                button {
                    span {
                        &::before {
                            @include svg-icon-crown("3da3fc");
                        }
                    }
                    &.isActive {
                        span {
                            &::before {
                                @include svg-icon-crown("231815");
                            }
                        }
                    }
                }
            }
            .wrapRankList {
                .rankIcon {
                    &.rank1 {
                        background-image: url("../../assets/images/hot/icon/rank-01.webp");
                    }
                    &.rank2 {
                        background-image: url("../../assets/images/hot/icon/rank-02.webp");
                    }
                    &.rank3 {
                        background-image: url("../../assets/images/hot/icon/rank-03.webp");
                    }
                    &:not(.rank1, .rank2, .rank3) {
                        background-image: url("../../assets/images/hot/icon/rank-04.webp");
                    }
                }
            }
        }
    }
}
