/* =================================
 * 	店舗 TOP キャストランキング
 * ------------------------------ */
@use "../variable" as *;
@use "../svg" as *;
@use "../mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
@mixin layout-ul {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: inherit;
    @include sp {
        display: flex;
        flex-direction: column;
    }
}
@mixin layout-li {
    position: relative;
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    font-size: inherit;
    border-top: 1px solid;
    padding-block: 2em;
    gap: 0 2em;
    @include sp {
        display: flex;
        flex-direction: column;
        grid-column: unset;
        padding-block: 1vw;
        gap: 2vw 0;
        border-top: unset;
    }
    .wrapThumb {
        position: relative;
        font-size: inherit;
        width: 13em;
        @include sp {
            align-self: center;
            width: 100%;
            max-width: 60vw;
        }
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .wrapText {
        display: flex;
        flex-direction: column;
        font-size: inherit;
        justify-content: space-between;
        @include sp {
            display: contents;
        }
        .itemDate {
            font-size: FZ(16);
            align-self: flex-end;
            @include FuturaCyrillicDemi;
            @include sp {
                order: -1;
            }
        }
        .itemTitle {
            font-size: FZ(20);
            letter-spacing: 0.08em;
            font-weight: 500;
            margin-top: 0.3em;
            margin-bottom: 0.5em;
        }
        .itemBOdy {
            flex: 1;
            b {
                line-height: 1.6em;
                font-weight: 500;
            }
            strong {
                font-weight: 500;
                line-height: 1.6em;
            }
        }
    }
    &:last-of-type {
        border-bottom: 1px solid;
    }
}

/* =================================
 * NEWSページ
 * ------------------------------ */
.containerNews {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    padding-top: 2em;
    box-shadow: 0.5rem -3rem 3rem rgb(1 1 1 / 10%);
    .pageListNews {
        padding-inline: 3em;
        margin-top: 3em;
        @include layout-ul;
        .itemNews {
            @include layout-li;
        }
    }
}

/* =================================
 * TOP NEWSコンポーネント
 * ------------------------------ */
.boxTopNews {
    position: relative;
    font-size: inherit;
    padding: 9em 3em 1.6em;
    width: 100%;
    .titleObject {
        @include object-title;
    }
    @include sp {
        padding: 24vw 2vw 4vw;
        order: -1;
    }
    .listNews {
        @include layout-ul;
        li {
            @include layout-li;
            .wrapText {
                .linkMore {
                    display: inline-block;
                    font-size: FZ(14);
                    align-self: flex-end;
                    font-weight: 500;
                    color: blue;
                    margin-top: 1em;
                }
            }
            @include sp {
                // スマホでは2番目の記事を非表示
                &:nth-child(n + 2) {
                    display: none;
                }
            }
        }
    }
    &.kbHot {
        background-color: rgb(248 248 248 / 90%);
        background-blend-mode: soft-light;
        .wrapTitle {
            @include contents-title(#000000);
        }
        .titleObject {
            &::before {
                filter: brightness(105%) hue-rotate(206deg) saturate(142%)
                    drop-shadow(0.5rem 0.5rem 0.5rem rgb(1 1 1 / 30%));
            }
        }
    }
    &.kbVilla {
        background-color: rgb(248 248 248 / 90%);
        background-blend-mode: soft-light;
        .wrapTitle {
            @include contents-title(#000000);
        }
        .titleObject {
            &::before {
                filter: grayscale(29%) hue-rotate(318deg) saturate(103%)
                    drop-shadow(0.5rem 0.5rem 0.5rem rgb(1 1 1 / 30%));
            }
        }
    }
}
