// ロゴ
@mixin svg-icon-antenna($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107 107" fill="%23#{$color}"><path d="M9.3,0v19.3c43.2,0,78.4,35.2,78.4,78.4H107C107,43.8,63.2,0,9.3,0z"/><path d="M9.3,38.5v19.3c22,0,39.9,17.9,39.9,39.9h19.3C68.5,65.1,42,38.5,9.3,38.5z"/><ellipse cx="15.2" cy="91.8" rx="15.2" ry="15.2"/></svg>');
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
