/* =================================
 * 	店舗 トップ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

.containerTop {
    display: grid;
    grid-template-columns: 25% 1fr;
    padding-bottom: 3em;
}
/* =================================
 * ShopLeft
 * ------------------------------ */
//  神戸ホットポイント
.shopHotLeft {
    .boxHead {
        border: solid 2px #0000ff;
    }
    .itemLogo {
        aspect-ratio: 500/176;
    }
}
