/* =================================
 * 	店舗 LEFT
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * ShopLeft
 * ------------------------------ */
.containerShopLeft {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    background-color: #fff;
    .boxHead {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 3em 1em 1em;
        .itemLogo {
            position: relative;
            font-size: inherit;
        }
        .sidebarH2 {
            font-size: FZ(34);
            @include BebasNeue;
            color: var(--baseColor);
        }
        h2 {
            font-size: FZ(14);
            font-weight: 600;
            letter-spacing: 0.08em;
        }
        .itemTel {
            @include FuturaCyrillicDemi;
            font-size: FZ(24);
            letter-spacing: 0.04em;
            margin-top: 0.2em;
        }
    }
    .boxPhotoDiary {
        width: 100%;
        position: relative;
        font-size: inherit;
        padding-top: 8em;
        padding-bottom: 1em;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            aspect-ratio: 524/246;
            z-index: +1;
            background: url("../assets/images/objects/photo-diary-hot.webp")
                no-repeat center center / contain;
        }
        .wrapContents {
            font-size: inherit;
            iframe {
                aspect-ratio: 0.88;
            }
        }
    }
    .boxBanTop,
    .boxBanBottom {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        gap: 0.5em 0;
        ul {
            position: relative;
            width: 100%;
            display: grid;
            grid-auto-flow: row;
            gap: 0.5em 0;
        }
    }
    .boxBanBottom {
        margin-top: 1em;
    }
    &.kbHot {
        .itemLogo {
            width: 100%;
            margin-bottom: 1em;
            svg {
                width: 100%;
                aspect-ratio: 500/176;
                stroke: unset;
                fill: $shop-hot;
            }
        }
    }
}
