/* =================================
 * 	店舗 キャスト詳細
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * 店舗タイトル
 * ------------------------------ */
.containerHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2em;
    padding-inline: 2em;
    box-shadow: 0.5rem -3rem 3rem rgb(1 1 1 / 10%);
    background-color: #f8f8f8;
    z-index: 2;
    @include sp {
        padding: 4vw 2vw;
    }
    .itemLogo {
        font-size: inherit;
    }
    .linkList {
        color: #8a6f60;
        font-size: FZ(14);
        border: 1px solid;
        width: 20rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(#242424, 0.2);
        @include sp {
            width: 10em;
            height: 10vw;
        }
    }
    &.kbHot {
        .itemLogo {
            width: 16em;
            @include sp {
                width: 28vw;
            }
            svg {
                width: 100%;
                @include svg-hot;
                stroke: unset;
                fill: $shop-hot;
            }
        }
    }
    &.kbVilla {
        .itemLogo {
            width: 16em;
            @include sp {
                width: 28vw;
            }
            svg {
                width: 100%;
                @include svg-villa;
                stroke: unset;
                fill: $shop-villa;
            }
        }
    }
}

/* =================================
 * プロフィールコンテンツ
 * ------------------------------ */
@mixin box-size($position) {
    position: relative;
    font-size: inherit;
    max-width: 544px;
    @if $position == left {
        margin-right: 2em;
        @include sp {
            margin-right: unset;
        }
    } @else if $position == right {
        margin-left: 2em;
        @include sp {
            margin-left: unset;
        }
    } @else {
        @warn "Unknown position: #{$position}";
    }
    @include sp {
        margin: unset;
        max-width: unset;
    }
}

// タイトルH2
.sidebarH2 {
    @include FuturaCyrillicBook;
    font-size: FZ(42);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.itemH2 {
    font-size: FZ(14);
}
.containerContents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0.5rem -3rem 3rem rgb(1 1 1 / 10%);
    color: #070707;
    background-color: #f8f8f8;
    padding-bottom: 2em;
    @include sp {
        grid-auto-flow: row;
    }
}

/* =================================
 * 画像01（ランク付表示）
 * ------------------------------ */
.itemHeadImage {
    @include cast-wrap-photo;
    font-size: inherit;
    @include sp {
        order: -8;
        grid-column: span 2;
    }
    &.grade1,
    &.grade2,
    &.grade3,
    &.grade4,
    &.grade5 {
        img {
            clip-path: inset(1em);
            @include sp {
                clip-path: inset(3vw);
            }
        }
    }
    &.grade6,
    &.grade7,
    &.grade8 {
        img {
            clip-path: inset(0.6em);
            @include sp {
                clip-path: inset(2vw);
            }
        }
    }
    img {
        width: 100%;
        aspect-ratio: 600/800;
        object-fit: cover;
    }
}
.wrapImageMiddle {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 2;
    @include sp {
        order: -1;
    }
    img {
        width: 100%;
        aspect-ratio: 600/800;
        object-fit: cover;
    }
}
.wrapImageBottom {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include sp {
        display: contents;
    }
    .itemImageFirst {
        grid-column: span 2;
        @include sp {
            order: 5;
        }
    }
    .itemImageBottom {
        grid-column: span 2;
        display: grid;
        grid-template-columns: subgrid;
        @include sp {
            order: 9;
        }
    }
    img {
        width: 100%;
        aspect-ratio: 600/800;
        object-fit: cover;
    }
}

/* =================================
 * 画像 共通
 * ------------------------------ */
.itemImage {
    font-size: inherit;
    img {
        width: 100%;
        aspect-ratio: 600/800;
        object-fit: cover;
    }
    &.main02 {
        @include sp {
            grid-column: span 2;
            order: -3;
        }
    }
    &.main03 {
        @include sp {
            grid-column: span 2;
            order: -2;
        }
    }
    &.main04 {
        @include sp {
            grid-column: span 2;
        }
    }
}

/* =================================
 * プロフィール（名前他）
 * ------------------------------ */
.boxProfile {
    font-size: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include sp {
        display: contents;
    }
    .wrapHead {
        display: flex;
        flex-direction: column;
        gap: 1em 0;
        padding-bottom: 2em;
        @include box-size(right);
        @include sp {
            display: contents;
        }
        .innerBadge {
            font-size: inherit;
            display: flex;
            justify-content: center;
            gap: 0 4px;
            @include sp {
                order: -9;
                grid-column: span 2;
                justify-content: flex-start;
                padding: 2vw;
            }
            .labelBadge {
                position: relative;
                font-size: FZ(14);
                width: 15rem;
                height: 4rem;
                @include flex-center;
                border-radius: 100vmax;
                color: #fff;
                font-weight: 500;
                padding-left: 0.5em;
                @include sp {
                    width: 34vw;
                    height: 8vw;
                }
                &::before {
                    content: "";
                    position: absolute;
                    opacity: 0.5;
                }
                &.badgeNew {
                    background-color: #03c275;
                    &::before {
                        width: 2em;
                        @include svg-icon-badge-new("f8f8f8");
                        left: 0.6em;
                        bottom: -0.3em;
                    }
                }
                &.badgeTrial {
                    background-color: #03c275;
                    &::before {
                        width: 2.857em;
                        @include svg-icon-badge-trial("f8f8f8");
                        left: -0.1em;
                        bottom: 0;
                    }
                }
                &.badgeHot {
                    background-color: #c20356;
                    &::before {
                        width: 2.57em;
                        @include svg-icon-badge-sport("f8f8f8");
                        left: 0.2em;
                        bottom: -0.4em;
                    }
                }
            }
        }
        .castName {
            position: relative;
            @include flex-center(column);
            align-self: center;
            font-size: FZ(62);
            font-weight: 300;
            margin-top: 0.5em;
            @include sp {
                order: -10;
                grid-column: span 2;
                font-size: FZ(46);
            }
            span {
                font-size: 0.25em;
                @include FuturaCyrillicBook;
                color: #8a6f60;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                @include sp {
                    font-size: 0.3em;
                }
            }
            .itemRanking {
                position: absolute;
                top: 40%;
                translate: 0 -50%;
                font-size: inherit;
                width: 12rem;
                aspect-ratio: 1;
                left: calc(100% + 0.3em);
                @include sp {
                    width: 24vw;
                    left: unset;
                    translate: unset;
                    top: calc(100% + 18vw);
                    right: 2vw;
                }
                img {
                    aspect-ratio: 1;
                    width: 100%;
                }
            }
        }
        .wrapSize {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em 0;
            @include sp {
                order: -10;
                grid-column: span 2;
                gap: 1vw 0;
                margin-top: 2vw;
            }
            .size {
                font-size: inherit;
                display: flex;
                align-items: center;
                gap: 0 0.8em;
            }
            .age {
                @include FuturaCyrillicBook;
                font-size: FZ(24);
                @include sp {
                    font-size: FZ(26);
                }
                &::before {
                    font-size: 0.6em;
                    content: "Age.";
                }
            }
            span {
                @include FuturaCyrillicBook;
                font-size: FZ(24);
                &.tall {
                    &::before {
                        content: "T.";
                    }
                }
                &.bust {
                    &::before {
                        content: "B.";
                    }
                    i {
                        font-size: inherit;
                        text-transform: uppercase;
                        margin-left: 0.05em;
                        &::before,
                        &::after {
                            display: inline-block;
                            translate: 0 -0.08em;
                        }
                        &::before {
                            content: "[";
                            margin-right: 0.1em;
                        }
                        &::after {
                            content: "]";
                            margin-left: 0.05em;
                        }
                    }
                }
                &.west {
                    &::before {
                        content: "W.";
                    }
                }
                &.hip {
                    &::before {
                        content: "H.";
                    }
                }
            }
        }
        .listType {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4px;
            margin-top: 3em;
            @include sp {
                grid-column: span 2;
                order: -7;
                margin-top: unset;
                padding: 2vw;
            }
            li {
                font-size: FZ(14);
                @include flex-center;
                background-color: #ede6e2;
                height: 3.4rem;
            }
        }
    }
    .itemRank {
        @include flex-center;
        background-color: var(--grade-color);
        color: $base-white;
        font-size: inherit;
        gap: 0 0.5em;
        height: 5.3em;
        @include sp {
            order: -8;
            grid-column: span 2;
            height: 12vw;
        }
        .title {
            position: relative;
            @include FuturaCyrillicDemi;
            font-size: FZ(14);
            text-transform: uppercase;
            letter-spacing: 0.2em;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                right: calc(100% + 0.5em);
                width: 1.1em;
                @include svg-icon-grade("ffff");
            }
        }
        .label {
            @include FuturaCyrillicBook;
            font-size: FZ(40);
        }
    }
    .ratingList {
        display: grid;
        grid-template-columns: auto 1fr;
        margin-top: 2em;
        margin-bottom: 2em;
        gap: 4px 1.4em;
        @include box-size(right);
        @include sp {
            grid-column: span 2;
            order: -7;
            margin-top: unset;
            margin-bottom: unset;
            padding: 2vw;
            gap: 0.5vw 4vw;
        }
        li {
            font-size: inherit;
            grid-column: span 2;
            display: grid;
            grid-template-columns: subgrid;
            .label {
                align-self: center;
                display: flex;
                align-items: center;
                font-size: FZ(16);
                gap: 0 0.3em;
                @include sp {
                    font-size: FZ(14);
                }
                i {
                    position: relative;
                    display: block;
                    font-size: inherit;
                    width: 1.5em;
                    aspect-ratio: 1;
                    background-color: #f8931c;
                    border-radius: 50%;
                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: 60%;
                        @include svg-icon-crown("fff");
                    }
                }
            }
            .bar {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 0.4em;
                @include sp {
                    gap: 0.5vw;
                }
                .barBlock {
                    background-color: #ede6e2;
                    height: 3.6rem;
                    @include sp {
                        height: 8vw;
                    }
                    &.active {
                        background-color: #ea567b; // ピンク系
                    }
                    &:last-of-type {
                        border-top-right-radius: 100vmax;
                        border-bottom-right-radius: 100vmax;
                    }
                }
            }
        }
    }
    &.grade1 {
        --grade-color: #9e2ce5;
    }
    &.grade2 {
        --grade-color: #2a3fb6;
    }
    &.grade3 {
        --grade-color: #c90e0e;
    }
    &.grade4 {
        --grade-color: #e40b69;
    }
    &.grade5 {
        --grade-color: #65cda2;
    }
    &.grade6 {
        --grade-color: #d2a74a;
    }
    &.grade7 {
        --grade-color: #636363;
    }
    &.grade8 {
        --grade-color: #d68762;
    }
    &.grade9 {
        --grade-color: #66c3e0;
    }
}

/* =================================
 * Q & A
 * ------------------------------ */
.boxQuestions {
    position: relative;
    font-size: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    @include sp {
        grid-column: span 2;
        order: -2;
    }
    ul {
        position: relative;
        width: 100%;
        display: grid;
        align-self: flex-end;
        grid-template-columns: auto 1fr;
        flex: 1;
        padding-block: 2em;
        gap: 0 2em;
        @include box-size(left);
        @include sp {
            grid-template-columns: unset;
            grid-auto-flow: row;
            padding-inline: 2vw;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
        }
        &::before {
            top: 1em;
            right: 60%;
            width: 24em;
            @include svg-text-q("fff");
            z-index: -1;
        }
        &::after {
            bottom: 1em;
            left: 60%;
            width: 22em;
            @include svg-text-a("fff");
            z-index: -1;
        }
        li {
            position: relative;
            font-size: inherit;
            grid-column: span 2;
            display: grid;
            grid-template-columns: subgrid;
            padding-left: 1em;
            align-items: center;
            @include sp {
                grid-column: unset;
                grid-template-columns: unset;
                display: flex;
                flex-direction: column;
                padding-left: unset;
                padding-block: 2vw;
                gap: 1vw 0;
            }
            &:not(:last-of-type) {
                border-bottom: 1px solid #d9d9d9;
            }
            span {
                font-size: FZ(14);
                @include sp {
                    font-size: FZ(16);
                }
            }
            .labelQuestion {
                color: #8a6f60;
                text-align: right;
            }
        }
    }
    .wrapLink {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: inherit;
        @include sp {
            order: -1;
        }
        a {
            position: relative;
            font-size: inherit;
            height: 13.8em;
            grid-row: span 3;
            display: grid;
            grid-template-rows: subgrid;
            justify-content: center;
            padding-top: 6em;
            padding-bottom: 1.4em;
            color: #f8f8f8;
            @include sp {
                grid-column: span 2;
                display: flex;
                flex-direction: column;
                padding-top: unset;
                padding-bottom: unset;
                justify-content: center;
                padding-left: 26vw;
                height: 22vw;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-color: var(--item-color);
                z-index: -1;
                transition: 0.3s ease-out;
            }
            @include hover {
                &::before {
                    filter: brightness(0.9);
                }
            }
            &.linkMail {
                --item-color: #ea567b;
                span {
                    &::before {
                        width: 4em;
                        @include svg-icon-diamond("f8f8f8");
                        bottom: calc(100% + 1em);
                        @include sp {
                            bottom: unset;
                            left: 9vw;
                        }
                    }
                }
            }
            &.photoBlog {
                --item-color: #f8931c;
                span {
                    &::before {
                        width: 3.6em;
                        @include svg-icon-camera("f8f8f8");
                        bottom: calc(100% + 1em);
                        @include sp {
                            bottom: unset;
                            left: 10vw;
                        }
                    }
                }
            }
            span {
                font-size: FZ(14);
                text-align: center;
                letter-spacing: 0.1em;
                @include FuturaCyrillicBook;
                position: relative;
                @include sp {
                    text-align: left;
                    position: static;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    translate: -50%;
                    @include sp {
                        top: 50%;
                        translate: 0 -50%;
                    }
                }
            }
            h2 {
                font-size: FZ(32);
                font-weight: 500;
                letter-spacing: 0.08em;
                @include sp {
                    font-size: FZ(28);
                }
            }
            p {
                font-size: FZ(14);
                text-align: center;
                @include sp {
                    text-align: left;
                }
            }
        }
        &:not(:has(.photoBlog)) {
            grid-template-columns: unset;
        }
    }
}

/* =================================
 * スケジュール
 * ------------------------------ */
.boxSchedule {
    position: relative;
    grid-column: span 2;
    font-size: inherit;
    background-color: #ede6e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2em;
    @include sp {
        grid-column: span 2;
        order: -1;
        padding-inline: 2vw;
    }
    .scheduleList {
        position: relative;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-size: inherit;
        width: 100%;
        max-width: 1166px;
        gap: 0 0.3em;
        margin-top: 2em;
        @include sp {
            max-width: unset;
            grid-template-columns: auto 1fr;
            gap: 1vw 0;
            margin-top: 4vw;
        }
        li {
            position: relative;
            font-size: inherit;
            background-color: #f8f8f8;
            grid-row: span 2;
            display: grid;
            grid-template-rows: subgrid;
            @include sp {
                grid-row: unset;
                grid-column: span 2;
                grid-template-columns: subgrid;
                align-items: center;
                grid-template-rows: unset;
                height: 14vw;
            }
            .wrapDate {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.2em 1.4em 0;
                @include sp {
                    flex-direction: row;
                    padding: unset;
                    border-right: 1px solid #070707;
                    padding-inline: 4vw;
                    gap: 0 1vw;
                }
                .itemDate {
                    @include FuturaCyrillicBook;
                    font-size: FZ(40);
                    letter-spacing: 0.04em;
                    @include sp {
                        font-size: FZ(36);
                    }
                }
                .itemWeek {
                    font-size: FZ(14);
                    letter-spacing: 0.2em;
                    border-bottom: 1px solid #070707;
                    width: 100%;
                    text-align: center;
                    padding-bottom: 0.5em;
                    @include sp {
                        padding-bottom: unset;
                        border-bottom: unset;
                    }
                }
                &.saturday {
                    color: #3039ee;
                }
                &.sunday {
                    color: #ea567b;
                }
            }
            .scheduleTime {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5em 0.5em 0.8em;
                gap: 1em 0;
                @include sp {
                    padding: unset;
                    flex-direction: row;
                    justify-content: center;
                    gap: 0 8vw;
                }
                span {
                    position: relative;
                    @include FuturaCyrillicBook;
                    font-size: FZ(24);
                    letter-spacing: 0.1em;
                    @include sp {
                        font-size: FZ(20);
                    }
                    &:nth-of-type(2) {
                        &::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            translate: -50%;
                            width: 14px;
                            height: 6px;
                            background-color: #070707;
                            bottom: calc(100% + 0.2em);
                            clip-path: polygon(0 0, 100% 0, 50% 100%);
                            @include sp {
                                left: unset;
                                bottom: unset;
                                top: 50%;
                                width: 8px;
                                height: 10px;
                                translate: 0 -50%;
                                right: calc(100% + 3vw);
                                clip-path: polygon(0 0, 100% 50%, 0 100%);
                            }
                        }
                    }
                }
            }
            .scheduleStatus,
            .noData {
                @include flex-center;
                font-size: FZ(14);
                letter-spacing: 0.04em;
                padding-block: 1em;
                @include sp {
                    font-size: FZ(16);
                }
            }
        }
    }
    .linkReservation {
        position: relative;
        font-size: inherit;
        display: flex;
        color: #f8f8f8;
        background-color: #8a6f60;
        border: 1px solid #8a6f60;
        border-radius: 1rem;
        box-shadow: 0 2px 5px rgba(#242424, 0.2);
        margin-top: 1em;
        @include sp {
            flex-direction: column;
            padding: 4vw;
            align-items: center;
            width: 100%;
            gap: 2vw 0;
        }
        h3 {
            background-color: #f8f8f8;
            color: #8a6f60;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            font-size: FZ(16);
            padding: 1.4em 4em 1.4em 2em;
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
            @include sp {
                clip-path: unset;
                border-radius: 100vmax;
                padding: 0.5em 0;
                width: 60vw;
                text-align: center;
            }
        }
        p {
            font-size: FZ(16);
            align-self: center;
            padding-left: 2em;
            padding-right: 4em;
            font-weight: 500;
            letter-spacing: 0.04em;
            @include sp {
                padding: 0;
                letter-spacing: 0.12em;
            }
        }
    }
}

/* =================================
 * キャストメッセージ
 * ------------------------------ */
.boxCastMessage {
    font-size: inherit;
    display: flex;
    @include sp {
        grid-column: span 2;
        padding: 4vw 2vw;
    }
    .boxInner {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include box-size(right);
        .wrapCastMessage {
            position: relative;
            flex: 1;
            margin-top: 2em;
            width: 100%;
            overflow-y: scroll;
            font-size: inherit;
            @include sp {
                display: contents;
            }
            .castMessage {
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                font-size: inherit;
                @include sp {
                    position: relative;
                    right: unset;
                    top: unset;
                }
                b {
                    line-height: 1.6em;
                    font-weight: 500;
                }
                strong {
                    font-weight: 500;
                    line-height: 1.6em;
                }
            }
        }
    }
}

/* =================================
 * ショップコメント
 * ------------------------------ */
.boxShopComment {
    font-size: inherit;
    display: flex;
    justify-content: flex-end;
    @include sp {
        grid-column: span 2;
        order: 1;
        padding: 4vw 2vw;
    }
    .boxInner {
        width: 100%;
        display: flex;
        justify-self: end;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
        @include box-size(left);
        .wrapShopComment {
            position: relative;
            flex: 1;
            margin-top: 2em;
            width: 100%;
            overflow-y: scroll;
            @include sp {
                display: contents;
            }
            .shopComment {
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                @include sp {
                    position: relative;
                    right: unset;
                    top: unset;
                }
                b {
                    line-height: 1.6em;
                    font-weight: 500;
                }
                strong {
                    font-weight: 500;
                    line-height: 1.6em;
                }
            }
        }
    }
}

/* =================================
 * お客様の声(REVIEW)
 * ------------------------------ */
.boxReview {
    font-size: inherit;
    display: flex;
    background-color: #ede6e2;
    @include sp {
        grid-column: span 2;
        order: 5;
        padding: 6vw 4vw 4vw;
    }
    .boxInner {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include box-size(right);
    }

    // ShopCastReview.module.scssに記載
}

/* =================================
 * 動画
 * ------------------------------ */
.boxMovie {
    width: 100%;
    @include flex-center;
    grid-column: span 2;
    font-size: inherit;
    padding-block: 2em;
    @include sp {
        grid-column: span 2;
        order: 10;
        padding-block: unset;
    }
    .itemMovie {
        font-size: inherit;
        width: 100%;
        max-width: 1166px;
    }
}

/* =================================
 * キャストNAV
 * ------------------------------ */
.boxCastNav {
    position: relative;
    grid-column: span 2;
    font-size: inherit;
    color: #f8f8f8;
    background-color: #8a6f60;
    display: flex;
    justify-content: center;
    padding-block: 2em;
    @include sp {
        grid-column: span 2;
        order: 10;
        padding: 4vw 2vw;
    }
    nav {
        display: grid;
        font-size: inherit;
        grid-template-columns: 1fr auto 1fr;
        gap: 0 0.5em;
        @include sp {
            width: 100%;
        }
        a {
            font-size: FZ(14);
            border: 1px solid;
            border-radius: 1rem;
            @include flex-center;
            height: 5rem;
        }
        .linkCastList {
            padding-inline: 3em;
            @include sp {
                padding-inline: 4vw;
            }
        }
        .linkCastDetail {
            min-width: 25em;
            padding-inline: 3em;
            @include sp {
                min-width: unset;
                padding-inline: unset;
                text-align: center;
            }
        }
    }
}
