/* =================================
 * 	店舗 キャスト一覧
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * ソートエリア
 * ------------------------------ */
.containerSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0 0;
    gap: 0 1.4em;
    z-index: 2;
    box-shadow: 0.5rem -3rem 3rem rgb(1 1 1 / 10%);
    background-color: $base-white;
    @include sp {
        gap: 0;
        padding: 2vw;
    }
    h3 {
        position: relative;
        @include FuturaCyrillicBook;
        font-size: FZ(20);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-left: 1em;
        &::before {
            content: "";
            position: absolute;
            width: 0.8em;
            aspect-ratio: 1;
            left: 0;
            top: 50%;
            translate: 0 -50%;
            background-color: #000;
        }
        @include sp {
            display: none;
        }
    }
    ul {
        font-size: inherit;
        display: grid;
        gap: 0 0.3em;
        grid-template-columns: repeat(6, 7em);
        @include sp {
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 1vw;
        }
        li {
            background-image: linear-gradient(to bottom, #ddd, #bababa);
            font-size: FZ(16);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .filterBtn {
                width: 100%;
                max-width: 4.2em;
                padding-block: 0.8em;
                font-size: FZ(16);
                display: flex;
                justify-content: space-between;

                // padding-inline: 1em;
                i {
                    display: inline-block;
                }
                &.btnReset {
                    display: grid;
                    place-content: center;
                }
            }
        }
    }
}

/* =================================
 * 一覧表示
 * ------------------------------ */
.containerList {
    display: flex;
    flex-direction: column;
    box-shadow: 0.5rem -3rem 3rem rgb(1 1 1 / 10%);
    padding-bottom: 3em;
    @include sp {
        padding: 4vw 2vw;
    }
    &.kbHot {
        --shop-color: #{$shop-color-hot-number};
    }
    .groupBlock {
        display: flex;
        flex-direction: column;
        padding-bottom: 4em;
        h2 {
            position: relative;
            color: $base-white;
            @include FuturaCyrillicBook;
            font-size: FZ(32);
            text-align: center;
            letter-spacing: 0.1em;
            padding-block: 0.4em;
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                translate: -50%;
                top: 0;
                width: 100vw;
                height: 100%;
                font-size: FZ(36);
                background-color: var(--grade-color);
                z-index: -1;
            }
        }
        &.grade1 {
            --grade-color: #9e2ce5;
        }
        &.grade2 {
            --grade-color: #2a3fb6;
        }
        &.grade3 {
            --grade-color: #c90e0e;
        }
        &.grade4 {
            --grade-color: #e40b69;
        }
        &.grade5 {
            --grade-color: #65cda2;
        }
        &.grade6 {
            --grade-color: #d2a74a;
        }
        &.grade7 {
            --grade-color: #636363;
        }
        &.grade8 {
            --grade-color: #d68762;
        }
        &.grade9 {
            --grade-color: #66c3e0;
        }
    }
    .castList {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-size: inherit;
        gap: 0 1.4em;
        margin-top: 3em;
        padding-inline: 2em;
        @include sp {
            grid-template-columns: repeat(2, 1fr);
            padding-inline: 0;
            margin-top: unset;
            gap: 0 2vw;
        }
    }
}

/* =================================
 * キャストボックス
 * ------------------------------ */
.boxCast {
    position: relative;
    font-size: inherit;
    display: grid;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(#6a6a6a, 0.2);
    color: $font-black;
    grid-row: span 4;
    grid-template-rows: subgrid;
    .wrapTodayTime {
        font-size: inherit;
        display: flex;
        justify-content: space-between;
        h3 {
            display: grid;
            place-content: center;
            font-size: FZ(14);
            padding-inline: 0.8em;
            background-color: rgb(var(--shop-color), 1);
            color: $base-white;
            font-weight: 500;
            @include sp {
                font-size: 2.8vw;
            }
        }
        .itemTime {
            padding-block: 0.3em;
            font-size: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(var(--shop-color), 0.1);
            flex: 1;
            border-top: 1px solid rgb(var(--shop-color), 1);
            border-right: 1px solid rgb(var(--shop-color), 1);
            @include sp {
                padding-block: 0.8vw;
            }
            span {
                display: flex;
                font-size: FZ(16);
                @include FuturaCyrillicBook;
                align-items: center;
                letter-spacing: 0.12em;
                @include sp {
                    font-size: FZ(15);
                    letter-spacing: 0.08em;
                }
                &:nth-of-type(2) {
                    &::before {
                        display: inline-block;
                        content: "";
                        width: 0.4em;
                        aspect-ratio: 0.85;
                        background-color: $font-black;
                        margin-inline: 0.56em;
                        clip-path: polygon(0 0, 100% 50%, 0 100%);
                    }
                }
            }
        }
        .scheduleStatus {
            font-size: FZ(14);
            letter-spacing: 0.04em;
            background-color: rgb(var(--shop-color), 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid rgb(var(--shop-color), 1);
            border-right: 1px solid rgb(var(--shop-color), 1);
            flex: 1;
        }
    }
    a {
        position: relative;
        font-size: inherit;
        display: flex;
        flex-direction: column;
        .wrapBadge {
            position: absolute;
            right: 0;
            top: 1em;
            display: grid;
            grid-auto-flow: row;
            font-size: inherit;
            gap: 5px 0;
            @include sp {
                top: 2vw;
                gap: 1vw 0;
            }
            .labelBadge {
                position: relative;
                display: grid;
                place-content: center;
                font-size: FZ(12);
                width: 5em;
                height: 3.6em;
                z-index: 1;
                color: $base-white;
                padding: 0.5em 0.5em 0.5em 1em;
                line-height: 1.2em;
                @include sp {
                    font-size: 1rem;
                    width: 4.8em;
                    height: 3.4em;
                    padding-left: 0.8em;
                }
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background-color: var(--badge-color);
                    z-index: -1;
                    clip-path: polygon(
                        0 0,
                        100% 0,
                        100% 100%,
                        0 100%,
                        0.8em 50%
                    );
                }
                &.badgeTrial,
                &.badgeNew {
                    --badge-color: #03c275;
                }
                &.badgeHot {
                    --badge-color: #c20356;
                    text-align: center;
                }
            }
        }
        .wrapPhoto {
            @include cast-wrap-photo;
            aspect-ratio: 3/4;
            .gradeLabel {
                font-size: FZ(18);
            }
            &.grade1,
            &.grade2,
            &.grade3,
            &.grade4,
            &.grade5 {
                img {
                    clip-path: inset(0.8em);
                }
            }
            &.grade6,
            &.grade7,
            &.grade8 {
                img {
                    clip-path: inset(0.3em);
                }
            }
            img {
                object-fit: cover;
            }
        }
    }
    .castProfile {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5em;
        gap: 0.2em 0;
        .wrapName {
            font-size: inherit;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .castName {
                font-size: FZ(20);
                letter-spacing: 0.12em;
            }
            .age {
                @include FuturaCyrillicBook;
                font-size: FZ(20);
                &::before {
                    font-size: 0.8em;
                    content: "Age.";
                }
            }
        }
        .castSize {
            font-size: inherit;
            display: flex;
            align-items: center;
            gap: 0 0.1em;
            span {
                @include FuturaCyrillicBook;
                font-size: FZ(16);
                @include sp {
                    font-size: FZ(18);
                }
                &.tall {
                    &::before {
                        content: "T.";
                    }
                }
                &.bust {
                    &::before {
                        content: "B.";
                    }
                    i {
                        font-size: inherit;
                        text-transform: uppercase;
                        margin-left: 0.05em;
                        &::before,
                        &::after {
                            display: inline-block;
                            translate: 0 -0.08em;
                        }
                        &::before {
                            content: "[";
                            margin-right: 0.1em;
                        }
                        &::after {
                            content: "]";
                            margin-left: 0.05em;
                        }
                    }
                }
                &.west {
                    &::before {
                        content: "W.";
                    }
                }
                &.hip {
                    &::before {
                        content: "H.";
                    }
                }
            }
        }
    }
    .listType {
        font-size: inherit;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.3em;
        padding-inline: 0.5em;
        padding-bottom: 0.5em;
        li {
            background-color: #ede6e2;
            font-size: FZ(14);
            text-align: center;
            padding-block: 0.4em;
            @include sp {
                font-size: FZ(12);
                padding-block: 0.2em;
            }
        }
    }
    &:nth-of-type(n + 5) {
        margin-top: 3em;
        @include sp {
            margin-top: unset;
        }
    }
    &:nth-of-type(n + 3) {
        @include sp {
            margin-top: 8vw;
        }
    }
}
