/* =================================
 * 	店舗 Common
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * ClientWrapper
 * ------------------------------ */
.bodyContents {
    position: relative;
    font-size: inherit;
    width: 100%;
}
/* =================================
 * バナー
 * ------------------------------ */
.itemBan {
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
    }
}
/* =================================
 * Main
 * ------------------------------ */
.shopTop {
    display: flex;
    // padding: 0 2vw;
    article {
        align-self: center;
        max-width: $articleMaxWidth;
        gap: 0 1em;
        box-shadow: 0.5rem -3rem 3rem rgba(1, 1, 1, 0.1);
    }
}
/* =================================
 * ShopTopMain
 * ------------------------------ */
.containerShopTopMain {
    display: flex;
    flex-direction: column;
    .boxBanMain {
        position: relative;
        font-size: inherit;
        padding-top: 1rem;
        ul {
            position: relative;
            display: grid;
            grid-auto-flow: row;
            gap: 1rem 0;
        }
    }
}
/* =================================
 * ShopLeft
 * ------------------------------ */
.containerShopLeft {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    .boxHead {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 3em 1em 1em;
        .itemLogo {
            position: relative;
            font-size: inherit;
        }
        .sidebarH2 {
            font-size: FZ(34);
            @include BebasNeue;
            color: var(--baseColor);
        }
        h2 {
            font-size: FZ(14);
            font-weight: 600;
            letter-spacing: 0.08em;
        }
        .itemTel {
            @include FuturaCyrillicDemi;
            font-size: FZ(24);
            letter-spacing: 0.04em;
            margin-top: 0.2em;
        }
    }
    .boxPhotoDiary {
        width: 100%;
        position: relative;
        font-size: inherit;
        padding-top: 8em;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            aspect-ratio: 524/246;
            z-index: +1;
            background: url(../assets/images/objects/photo-diary-hot.webp)
                no-repeat center center / contain;
        }
        .wrapContents {
            font-size: inherit;
            iframe {
                aspect-ratio: 326/497;
            }
        }
    }
    .boxBanTop,
    .boxBanBottom {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        gap: 0.5em 0;
        ul {
            position: relative;
            width: 100%;
            display: grid;
            grid-auto-flow: row;
            gap: 0.5em 0;
        }
    }
    .boxBanBottom {
        margin-top: 1em;
    }
    &.kbHot {
        .itemLogo {
            width: 100%;
            margin-bottom: 1em;
            svg {
                width: 100%;
                aspect-ratio: 500/176;
                stroke: unset;
                fill: $shop-hot;
            }
        }
    }
}
/* =================================
 * ShopFooterMenu
 * ------------------------------ */
.shopFooterMenu {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: inherit;
    nav {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: inherit;
        padding-block: 0.5em;
        a {
            position: relative;
            flex-grow: 1;
            border-right: 1px solid;
            padding: 0 1em;
            letter-spacing: 0.12em;
            display: flex;
            justify-content: center;
            font-size: FZ(12);
            padding-block: 0.2em;
            &:first-of-type {
                border-left: 1px solid;
                @include sp {
                    border: unset;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                clip-path: inset(0 50% 0 50%);
                z-index: -1;
                opacity: 0;
                transition: 0.5s ease-out;
            }
            @include pc {
                &:hover {
                    transition: 0.3s ease-out;
                    &::before {
                        transition: 0.3s ease-out;
                        opacity: 1;
                        clip-path: inset(0);
                    }
                }
            }
        }
    }
}
