/* =================================
 * 	店舗 LEFT
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * ShopLeft
 * ------------------------------ */
.containerShopLeft {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    background-color: #fff;
    @include sp {
        display: contents;
    }
    .boxHead {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 3em 1em 1em;
        @include sp {
            display: none;
        }
        .itemLogo {
            position: relative;
            font-size: inherit;
        }
        .sidebarH2 {
            font-size: FZ(34);
            @include BebasNeue;
            color: var(--baseColor);
        }
        h2 {
            font-size: FZ(14);
            font-weight: 600;
            letter-spacing: 0.08em;
        }
        .itemTel {
            @include FuturaCyrillicDemi;
            font-size: FZ(24);
            letter-spacing: 0.04em;
            margin-top: 0.2em;
        }
    }
    .boxPhotoDiary {
        width: 100%;
        position: relative;
        font-size: inherit;
        padding-top: 8em;
        padding-bottom: 1em;
        @include sp {
            padding: 24vw 2vw 4vw;
        }
        .wrapTitle {
            display: none;
            @include sp {
                display: block;
            }
        }
        .titleObject {
            display: none;
            @include sp {
                @include object-title;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            aspect-ratio: 524/246;
            z-index: +1;
            @include sp {
                display: none;
            }
        }
        .wrapContents {
            font-size: inherit;
            iframe {
                width: 100%;
                aspect-ratio: 0.88;
            }
        }
    }
    .boxBanTop,
    .boxBanBottom {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        gap: 0.5em 0;
        @include sp {
            order: 1;
            padding-inline: 2vw;
            margin-top: 2vw;
        }
        ul {
            position: relative;
            width: 100%;
            display: grid;
            grid-auto-flow: row;
            gap: 0.5em 0;
            @include sp {
                gap: 2vw 0;
            }
        }
    }
    .boxBanBottom {
        margin-top: 1em;
        @include sp {
            order: 1;
            margin-top: 2vw;
        }
    }
    &.kbHot {
        .itemLogo {
            width: 100%;
            margin-bottom: 1em;
            @include sp {
                width: 40vw;
                margin-bottom: unset;
            }
            svg {
                @include svg-hot;
                width: 100%;
                stroke: unset;
                fill: $shop-hot;
            }
        }
        .boxPhotoDiary {
            &::before {
                background: url("../assets/images/objects/photo-diary-hot.webp")
                    no-repeat center center / contain;
            }
            .wrapTitle {
                @include contents-title(#000000);
            }
            .titleObject {
                &::before {
                    filter: brightness(105%) hue-rotate(206deg) saturate(142%)
                        drop-shadow(0.5rem 0.5rem 0.5rem rgb(1 1 1 / 30%));
                }
            }
        }
    }
    &.kbVilla {
        .itemLogo {
            width: 100%;
            margin-bottom: 1em;
            @include sp {
                width: 40vw;
                margin-bottom: unset;
            }
            svg {
                width: 100%;
                @include svg-villa;
                stroke: unset;
                fill: $shop-villa;
            }
        }
        .boxPhotoDiary {
            &::before {
                background: url("../assets/images/objects/photo-diary-villa.webp")
                    no-repeat center center / contain;
            }
            .wrapTitle {
                @include contents-title(#000000);
            }
            .titleObject {
                &::before {
                    filter: grayscale(29%) hue-rotate(318deg) saturate(103%)
                        drop-shadow(0.5rem 0.5rem 0.5rem rgb(1 1 1 / 30%));
                }
            }
        }
    }
}
