/* =================================
 * 	店舗 HEADER
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.3em;
    // --baseColor: #000;
    .boxHead {
        position: relative;
        width: 100%;
        max-width: $articleMaxWidth;
        display: flex;
        justify-content: space-between;
        font-size: inherit;
        padding-bottom: 0.3em;
        p {
            font-size: FZ(12);
            @include FuturaCyrillicDemi;
            text-transform: uppercase;
            letter-spacing: 0.08em;
        }
        h1 {
            font-size: FZ(12);
            font-weight: 500;
            letter-spacing: 0.08em;
        }
    }
    .boxNav {
        display: flex;
        justify-content: center;
        font-size: inherit;
        width: 100%;
        border-top: 3px solid var(--baseColor);
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        nav {
            font-size: inherit;
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: $articleMaxWidth;
            a {
                flex-grow: 1;
                border-right: 1px solid var(--baseColor);
                padding: 0 1em;
                letter-spacing: 0.12em;
                display: flex;
                justify-content: center;
                font-size: FZ(16);
                &:first-of-type {
                    border-left: 1px solid var(--baseColor);
                }
            }
        }
    }
    .boxStripe {
        width: 100%;
        font-size: 1em;
        height: 0.4em;
        background-size: auto auto;
        background-color: rgba(255, 255, 255, 1);
        background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 4px,
            var(--baseColor) 4px,
            var(--baseColor) 9px
        );
    }
    .boxTelop {
        width: 100%;
        background: linear-gradient(
            rgba(218, 218, 218),
            rgba(199, 199, 199) 100%
        );
        border-bottom: 1px solid rgba(164, 164, 164);
        display: flex;
        justify-content: center;
        padding: 0.4em;
        font-size: inherit;
        .innerTelop {
            width: 95%;
            max-width: 1260px;
            background-color: $base-white;
            font-size: 1em;
            padding: 0.5em 0.5em;
            border-radius: 0.3rem;
            overflow: hidden;
            p {
                font-size: FZ(14);
                height: 1.4em;
                letter-spacing: 0.04em;
                color: $font-black;
                padding-left: 72%;
                white-space: nowrap;
                animation-name: marquee;
                animation-timing-function: linear;
                animation-duration: 20s;
                animation-iteration-count: infinite;
            }
            @keyframes marquee {
                from {
                    transform: translate(0%);
                }
                99%,
                to {
                    transform: translate(-100%);
                }
            }
        }
    }
}
